h1 {
  margin: 0;
  padding: 20px 0;    
  color: #CC0000;
  text-shadow: 3px 3px 1px black;
}
p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}
html {
	background-color:  #5AAB0A;
}
@keyframes fadeIn { 
  from { opacity: 0; } 
}

span {
  font: italic bold 5em/1 Bodoni, serif;
  font-size: 16px;
  color: #B70000;
  text-align: center;
  
  animation: fadeIn 1s infinite alternate;
}